
export PKG_CONFIG=/usr/bin/pkgconf

export CC=clang
export CXX=clang++
export LDFLAGS=-fuse-ld=mold

export WEBKIT_HOME=$HOME/WebKit

if [[ -z "$container" ]]; then
   echo "Running from Buildstream SDK"
else
   export SCCACHE_CONF=/sccache/sccache.toml
   # https://github.com/mozilla/sccache/issues/1838
   # export RUSTC_WRAPPER=/usr/local/cargo/bin/sccache
fi

export WEBKIT_USE_SCCACHE=1
export SCCACHE_NUM_CPUS=45
# New in 0.7.0: Disable, looks a bit buggy.
export SCCACHE_DIRECT=false

# New in 0.9.0: Abstract Unix socket server.
export SCCACHE_SERVER_UDS=\\x00sccache.sock

export NUMBER_OF_PROCESSORS=$(expr $(nproc --all) / 2)

export SCCACHE_REDIS={{ pass "shell/webkit-redis" }}

export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

export LSAN_OPTIONS=suppressions=lsan-suppressions.txt

export WPE_BROWSER=cog